<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Registrarse</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre de la Empresa</label>
              <input type="text" class="form-control" placeholder="Tipo de mercaderia" name="tipoMercaderia" [(ngModel)]="nombreEmpresa">
            </div>
          </div>
          <div class="col-md-5">
              <div class="form-group">
                <label>Cantidad de Contenedores</label>
                <input type="number" class="form-control" placeholder="Cantidad de carga a transportar" name="cantidadTransportar" [(ngModel)]="cantidadContenedores" (keyup)="cantidadCargaTransportarChange()">
              </div>
          </div>
          <div class="col-md-5">
            <button type="button" class="btn btn-success btn-outline-dark" (click)="calcular()">Calcular</button>
          </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link  active" href="#rutas" role="tab" data-toggle="tab" aria-selected="true">Costo Distribucion Rutas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#actividades" role="tab" data-toggle="tab">Actividades de Apoyo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fundamentales" role="tab" data-toggle="tab">Actividades Fundamentales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#otros-costos" role="tab" data-toggle="tab">Otros Costos</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="rutas" style="margin: 20px;">
            <app-costo-distribucion-rutas (rutasChange)="rutasChange($event)" [cantidadContenedores]="cantidadContenedores" (totalKmChange)="totalKmChange($event)" (costoKmChange)="costoKmChange($event)"></app-costo-distribucion-rutas>
          </div>
          <div role="tabpanel" class="tab-pane" id="actividades" style="margin: 20px;">
            <app-costo-actividades></app-costo-actividades>
          </div>
          <div role="tabpanel" class="tab-pane" id="fundamentales" style="margin: 20px;">
            <app-costo-fundamentales (indicadoresFundamentalesChange)="indicadoresFundamentalesChange($event)" [costoKm]="costoKm"></app-costo-fundamentales>
          </div>
          <div role="tabpanel" class="tab-pane" id="otros-costos" style="margin: 20px;">
            <app-otros-costos (otrosCostosChange)="otrosCostosChange($event)"></app-otros-costos>
          </div>
      </div>
    </div>
  </div>
</div>