<div class="modal-header">
  <h4 class="modal-title">Crear Ruta</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Origen</label>
          <input type="text" class="form-control" placeholder="Tipo de mercaderia" name="tipoMercaderia" [(ngModel)]="ruta.origen">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Destino</label>
          <input type="text" class="form-control" placeholder="Tipo de mercaderia" name="tipoMercaderia" [(ngModel)]="ruta.destino">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Distancia en Km</label>
          <input type="text" class="form-control" placeholder="Tipo de mercaderia" name="tipoMercaderia" [(ngModel)]="ruta.distancia" (keyup)="ruta.calcularRecorrido()"> 
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Cantidad de Viajes</label>
          <input type="text" class="form-control" placeholder="Tipo de mercaderia" name="tipoMercaderia" [(ngModel)]="ruta.cantidadViajes" (keyup)="ruta.calcularRecorrido()">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Recorrido</label>
          <input type="text" class="form-control" placeholder="Tipo de mercaderia" name="tipoMercaderia" [(ngModel)]="ruta.recorrido" disabled>
        </div>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-outline-dark" (click)="activeModal.close(ruta)">Aceptar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(null)">Cancelar</button>
</div>