    
            <div class="row">
              <button (click)="agregar()" type="submit" class="btn btn-primary btn-round">Agregar</button>
              <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Descripcion
                      </th>
                      <th>
                        Monto`
                      </th>
                      <th>
                          Acciones
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let actividad of (actividadApoyoResponse | async).actividadesApoyo">
                        <td>
                          {{actividad.descripcion}}
                        </td>
                        <td class="text-right">
                          {{actividad.monto}}
                        </td>
                        <td>
                            <button (click)="edit(actividad)" class="btn btn-success btn-round">Editar</button>
                            <button (click)="delete(actividad)" class="btn btn-danger btn-round">Eliminar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>  
            </div>
    
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Total Costo de Apayo</label>
                  <input type="text" class="form-control" placeholder="Total Costo de Apoyo" name="totalCosteApoyo" [(ngModel)]="totalCosteApoyo">
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label>Costo / Km</label>
                    <input type="number" class="form-control" placeholder="Costo x km equipo" name="costoKm" [(ngModel)]="costoKm">
                  </div>
              </div>
            </div>
    
           