<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Grafico Comportamiento Costo x Km</h5>
      </div>
      <div>
        <table class="table">
          <thead class=" text-primary">
            <th>
              Ruta
            </th>
            <th>
              Distancia
            </th>
            <th>
                Costo x Km
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let ruta of (actividadesResumenMant$ | async).calculoActividadesRuta">
              <td>
                {{ruta.destino}}
              </td>
              <td class="text-right">
                {{ruta.distancia}}
              </td>
              <td class="text-right">
                {{ruta.costoxKm}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="display: block;">
       
        <canvas baseChart
        [datasets]="scatterChartData"
        [options]="scatterChartOptions"
        [labels]="scatterChartLabels"
        [chartType]="scatterChartType">
      </canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
